@model System.Collections.Immutable.ImmutableList<ServiceLayer.CheckoutServices.CheckoutItemDto>

@*adapted from bootsnipp example: http://bootsnipp.com/snippets/featured/shopping-cart-panel-bs-3*@

<div class="container">
    @*I set the validation summary to show all the errors to stop any errors bing missed if the property name doesn't' match*@ 
    @Html.ValidationSummary(false, null, new { @class = "text-danger h4" })
    
    @if (!Model.Any())
    {
        <h3>Nothing in your basket yet</h3>
    }

    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-primary btn-sm btn-block"
                                   href="@Url.Action("Index", "Home")">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    @{int i = 0;
                        foreach (var lineItem in @Model)
                        {
                            <input id="LineNumZeroStart" name="LineNumZeroStart" type="hidden" value=i>
                            <div class="row">
                                <div class="col-xs-2">
                                    <img class="img-responsive" src="@(lineItem.ImageUrl ?? "#")">
                                </div>
                                <div class="col-xs-4">
                                    <h4 class="product-name">
                                        <strong>@lineItem.Title</strong>
                                    </h4>
                                    <small>by</small>&nbsp;@lineItem.AuthorsName
                                </div>
                                <div class="col-xs-6">
                                    <div class="col-xs-6 text-right">
                                        <h6>
                                            <strong>
                                                $@($"{lineItem.BookPrice:F}") <span class="text-muted">x</span>
                                            </strong>
                                        </h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <span class="form-control input-sm">@lineItem.NumBooks</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <a class="btn btn-link btn-xs"
                                           href="@Url.Action("DeleteLineItem", new {lineNum = i})">
                                            <span class="glyphicon glyphicon-trash"> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            i++;
                        }
                    }
                </div>
                @if (Model.Any())
                {                    
                <div class="panel-footer">
                    <form action='@Url.Action("PlaceOrder")'>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Terms and Conditions</h4>
                                <div class="form-group">
                                    <label class="checkbox col-sm-12" for="acceptTAndCs">
                                        <input type="checkbox" value="true" name="acceptTAndCs" id="iAcceptTAndCs">
                                        I understand this is a demo site and I am not really buying these books
                                        <input type="hidden" value="false" checked name="iAcceptTAndCs" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-xs-9">
                                <h4 class="text-right">Total <strong>$@($"{Model.Sum(x => x.BookPrice * x.NumBooks):F}")</strong></h4>
                            </div>
                            <div class="col-xs-3">
                                <button type="submit" class="btn btn-success btn-block">
                                    Purchase
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                }
            </div>
        </div>
    </div>
</div>